* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-family: "Cabin", "sans-serif", "Verdana";
}

/* begin header*/
.container {
  border-radius: 5px;
  background-image: url("img/undraw_Country_side_k696.svg");
  background-color: rgb(147, 241, 235);
  padding: 10px;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #38b2aa;
  opacity: 0.4;
  z-index: -10;
}

.home-section {
  float: left;
  width: 49%;
  margin-top: 6px;
  padding: 20px;
  z-index: 5;
}

.home-section-right {
  float: right;
  width: 34%;
  margin-top: 50px;
  /* margin-top: 6px; */

  padding: 20px;
  z-index: 10;
}

@media screen and (max-width: 1268px) {
  .home-section-right {
    width: 45%;
    margin-top: 12px;
  }
}

.home-section h1 {
  line-height: 44px;
  font-size: 35px;
  font-weight: 700;
  margin: 0px 0px 20px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.home-section p {
  max-width: 600px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  margin: 0px 0px 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.home-benefits {
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 1;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.checked {
  color: #ffa500;
}

.row {
  content: "";
  display: table;
  clear: both;
  width: 70%;
  margin: auto;
  margin-top: 15px;
  /* margin-bottom: 40px; */
}

@media screen and (max-width: 900px) {
  .home-section,
  input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .container {
    padding-bottom: 30px;
  }
  .row {
    width: 100%;
    padding: 10px;
  }
}

.nav {
  height: 40px;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  /* background: green; */
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #fff !important;
  font-size: 10px !important;
  line-height: 30px !important;
  text-transform: uppercase;
  font-weight: 700;
}

.round {
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  width: 110px;
  padding: 5px 10px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav {
    width: 100%;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: blueviolet;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .round {
    border: 1px solid white;
    display: block;
    width: 100%;
    border: none;
    text-align: start;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(60vh - 50px);
    overflow-y: auto;
  }
}

/* End white-section*/

/* begin section-grey */

.section-gray {
  background: #f7f8fa;
  padding: 30px 0 70px 0;
  width: 100%;
  height: auto;
}

.section-tittle {
  text-align: center;
}

.section-tittle h2 {
  color: #292929;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #38b2aa;
}

.section-subtittle {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #7c8595;
  margin: auto;
  margin-bottom: 15px;
  width: 60%;
}

.main-services {
  float: left;
  width: 31.33%;
  height: auto;
  min-height: 320px;
  color: #333333;
  font-size: 20px;
  padding: 10px;
  margin: 0px 6px;
  margin-top: 30px;
  padding: 50px 30px 30px 30px;
  background-color: #fff;
  box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
  border-radius: 8px;
  text-align: center;
}

.main-services-image {
  min-width: 120px;
  max-width: 100px;
  min-height: 115px;
  margin-bottom: 10px;
  border: 0;
  vertical-align: middle;
}

.main-services h3 {
  font-size: 16px;
  font-weight: 900;
  color: #292929;
  margin-bottom: 10px;
}

.main-services p {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 15px;
  margin: 0 0 10px;
}

.anim {
  transition: 0.5s;
}

.anim:hover {
  box-shadow: 10px 10px 5px #aaaaaa;
  opacity: 1;
  margin-top: -15px;
}

@media screen and (max-width: 900px) {
  .section-gray {
    padding: 55px 10px 55px 10px;
    width: 100%;
  }
  .main-services {
    width: 100%;
    display: block;
    padding: 10px;
    margin: 10px auto auto auto;
    padding: 50px 30px 40px 30px;
  }
}

/* End section-grey */

/* begin white-section*/

.white-section {
  float: left;
  width: 48%;
  height: auto;
}

.white-section h3 {
  font-size: 25px;
  font-weight: 900;
  color: #292929;
  margin-bottom: 10px;
}

.white-section h5{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #38b2aa;
  font-size: 13px;
}

.white-section a{
  color: #247A7B;
  font-size: 12px;
}
.white-section p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #7c8595;
  margin: 0px;
  margin-bottom: 5px;
}

.white-section-image {
  width: 90%;
  margin-top:180px;
}

.white-section i {
  font-size: 25px;
  padding: 7px 0px 7px 0px;
}

.col-left {
  margin-left: 15px;
}

@media screen and (max-width: 900px) {
  .white-section-image {
    width: 90%;
    display: block;
    margin: auto;
    margin-top:0px;

  }
  .white-section {
    width: 100%;
    display: block;
    margin: 0px auto;
  }
  .col-left {
    margin: 0px;
  }
}

/* End white-section*/

/* begin-pricing-section*/

.top-shape-wrapper {
  overflow: hidden;
}

.top-shape {
  position: relative;
  display: block;
  padding: 70px 0;
}

.top-shape::before {
  -webkit-transform: rotate(-172deg);
  background-color: #eee;
  border-radius: 750px;
  content: "";
  height: 1250px;
  left: -250px;
  position: absolute;
  top: 0;
  transform: rotate(-186deg);
  width: 2050px;
  z-index: -1;
}

.top-content {
  float: left;
  width: 31.33%;
  height: auto;
  color: #333333;
  font-size: 20px;
  margin: 0px 6px;
  margin-top: 30px;
  padding:15px;
  background-color: #fff;
  box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
  border-radius: 8px;
  text-align: center;
  min-height: 455px;
}
.top-content-image {
  width: 100%;
  height: auto;
  vertical-align: middle;
  transition: transform 0.2s;
  max-height: 220px;
}

.top-content-image:hover {
  transition: transform 0.3s;
  opacity: 0.7;
} 

.issue-box {
  text-align: center;
  margin: 10px 0 20px 0;
}

.issue-box h3 {
  margin-bottom: 15px;
  padding-bottom: 2px;
  color: #38b2aa;
  line-height: 1;

}

.issue-box h3 a {
  color: #38b2aa;
  font-size: 15px;
  text-decoration: none;
  outline: 0;
  font-weight: bold;
  color: #38b2aa;
  text-transform: capitalize;
  font-size: 16px;

}

.issue-box p {
  font-size: 14px;
  /* font-style: italic; */
  font-weight: 400;
  color: #7c8595;
  font-weight: bold;
  margin-top: -5px;
}

@media screen and (max-width: 900px) {
  .top-shape {
    padding: 20px 0 70px 0;
  }
  .top-content {
    width: 100%;
    display: block;
    margin: 10px auto auto auto;
    /* padding: 50px 30px 40px 30px; */
  }
}

.overlay {
  background: black;
}

.footer {
  width: 70%;
  margin: auto;
  height: auto;
}
.footer-distributed {
  background: #2f2e40;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: -20px;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin-bottom: 2px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed {
  color: rgb(33, 131, 124);
  font-size: 14px;
  font-weight: normal;
  margin-top: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: rgb(33, 131, 124);
  color: #ffffff;
  font-size: 25px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 5px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-about-me {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-about-me span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 15px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: rgb(25, 139, 132);
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-copyright {
  text-align: center;
  color: white;
  margin-top: 60px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
