* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-family: "Cabin", "sans-serif", "Verdana";
  width: 964px;
  margin: auto;
}

/* begin header*/
.container {
  border-radius: 5px;
  background-image: url("img/undraw_Country_side_k696.svg");
  background-color: #C93B2B;
  padding: 10px;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #C93B2B;
  opacity: 0.4;
  z-index: -10;
}

.home-section {
  float: left;
  width: 49%;
  margin-top: 6px;
  padding: 20px;
  z-index: 5;
}

.home-section-right {
  float: right;
  width: 34%;
  margin-top: 50px;
  /* margin-top: 6px; */

  padding: 20px;
  z-index: 10;
}

@media screen and (max-width: 1300) {
  .references {
   width: 100%;
   text-align: center;
   padding-left: 10px;
 }
 .ref-content {
   display: block;
   margin: auto;
   text-align: start;

 }
 .ref-icon {
   display: block;
   margin: auto;
   text-align: center;
 }
}
@media screen and (max-width: 1268px) {
  .home-section-right {
    width: 45%;
    margin-top: 12px;
  }
}


.home-section h1 {
  line-height: 44px;
  font-size: 35px;
  font-weight: 700;
  margin: 0px 0px 20px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.home-section p {
  max-width: 600px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  margin: 0px 0px 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.home-benefits {
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 1;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

.checked {
  color: #ffa500;
}

.row {
  content: "";
  display: table;
  clear: both;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  /* margin-bottom: 40px; */

}

@media screen and (max-width: 900px) {
  .home-section,
  input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .container {
    padding-bottom: 30px;
  }
  .row {
    width: 100%;
    padding: 10px;
  }
  .references {
    width: 100%;
    text-align: center;
  }
  .ref-content {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-left: 10px;
  }
  .ref-icon {
    display: block;
    width: 100%;
    margin: auto;
  }
}

.nav {
  height: 40px;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  /* background: green; */
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #fff !important;
  font-size: 10px !important;
  line-height: 30px !important;
  text-transform: uppercase;
  font-weight: 700;
}

.round {
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  width: 110px;
  padding: 5px 10px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav {
    width: 100%;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #3CBFA6;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .round {
    border: 1px solid white;
    display: block;
    width: 100%;
    border: none;
    text-align: start;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(60vh - 50px);
    overflow-y: auto;
  }
}

/* End white-section*/

/* begin section-grey */

.section-gray {
  background: #f7f8fa;
  padding: 30px 0 70px 0;
  width: 100%;
  height: auto;
}

.section-tittle {
  text-align: center;
}

.section-tittle h2 {
  color: #292929;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #38b2aa;
}

.section-subtittle {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #7c8595;
  margin: auto;
  margin-bottom: 15px;
  width: 60%;
}

.main-services {
  float: left;
  width: 31.33%;
  height: auto;
  min-height: 320px;
  color: #333333;
  font-size: 20px;
  padding: 10px;
  margin: 0px 6px;
  margin-top: 30px;
  padding: 50px 30px 30px 30px;
  background-color: #fff;
  box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
  border-radius: 8px;
  text-align: center;
}

.main-services-image {
  min-width: 120px;
  max-width: 100px;
  min-height: 115px;
  margin-bottom: 10px;
  border: 0;
  vertical-align: middle;
}

.main-services h3 {
  font-size: 16px;
  font-weight: 900;
  color: #292929;
  margin-bottom: 10px;
}

.main-services p {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 15px;
  margin: 0 0 10px;
}

.anim {
  transition: 0.5s;
}

.anim:hover {
  box-shadow: 10px 10px 5px #aaaaaa;
  opacity: 1;
  margin-top: -15px;
}

@media screen and (max-width: 900px) {
  .section-gray {
    padding: 55px 10px 55px 10px;
    width: 100%;
  }
  .main-services {
    width: 100%;
    display: block;
    padding: 10px;
    margin: 10px auto auto auto;
    padding: 50px 30px 40px 30px;
  }
}

/* End section-grey */

/* begin white-section*/

.white-section {
  float: left;
  width: 48%;
  height: auto;
}

.white-section h3 {
  font-size: 25px;
  font-weight: 900;
  color: #292929;
  margin-bottom: 10px;
}

.white-section h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #38b2aa;
  font-size: 13px;
}

.white-section a {
  color: #247a7b;
  font-size: 12px;
}
.white-section p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #7c8595;
  margin: 0px;
  margin-bottom: 5px;
}

.white-section-image {
  width: 90%;
  margin-top: 180px;
}

.white-section i {
  font-size: 25px;
  padding: 7px 0px 7px 0px;
}

.col-left {
  margin-left: 15px;
}

@media screen and (max-width: 900px) {
  .white-section-image {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 0px;
  }
  .white-section {
    width: 100%;
    display: block;
    margin: 0px auto;
  }
  .col-left {
    margin: 0px;
  }
}

/* End white-section*/

/* begin-pricing-section*/

.top-shape-wrapper {
  overflow: hidden;
}

.top-shape {
  position: relative;
  display: block;
  padding: 70px 0;
}

.top-shape::before {
  -webkit-transform: rotate(-172deg);
  background-color: #eee;
  border-radius: 750px;
  content: "";
  height: 1250px;
  left: -250px;
  position: absolute;
  top: 0;
  transform: rotate(-186deg);
  width: 2050px;
  z-index: -1;
}

.top-content {
  float: left;
  width: 31.33%;
  height: auto;
  color: #333333;
  font-size: 20px;
  margin: 0px 6px;
  margin-top: 30px;
  padding: 15px;
  background-color: #fff;
  box-shadow: rgba(33, 33, 33, 0.06) 0 4px 24px 5px;
  border-radius: 8px;
  text-align: center;
  min-height: 455px;
}
.top-content-image {
  width: 100%;
  height: auto;
  vertical-align: middle;
  transition: transform 0.2s;
  max-height: 220px;
}

.top-content-image:hover {
  transition: transform 0.3s;
  opacity: 0.7;
}

.issue-box {
  text-align: center;
  margin: 10px 0 20px 0;
}

.issue-box h3 {
  margin-bottom: 15px;
  padding-bottom: 2px;
  color: #38b2aa;
  line-height: 1;
}

.issue-box h3 a {
  color: #38b2aa;
  font-size: 15px;
  text-decoration: none;
  outline: 0;
  font-weight: bold;
  color: #38b2aa;
  text-transform: capitalize;
  font-size: 16px;
}

.issue-box p {
  font-size: 14px;
  /* font-style: italic; */
  font-weight: 400;
  color: #7c8595;
  font-weight: bold;
  margin-top: -5px;
}

@media screen and (max-width: 900px) {
  .top-shape {
    padding: 20px 0 70px 0;
  }
  .top-content {
    width: 100%;
    display: block;
    margin: 10px auto auto auto;
    /* padding: 50px 30px 40px 30px; */
  }
}

.overlay {
  background: black;
}

.footer {
  width: 70%;
  margin: auto;
  height: auto;
}
.footer-distributed {
  background: #2f2e40;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: -20px;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin-bottom: 2px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed {
  color: rgb(33, 131, 124);
  font-size: 14px;
  font-weight: normal;
  margin-top: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: rgb(33, 131, 124);
  color: #ffffff;
  font-size: 25px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 5px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-about-me {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-about-me span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 15px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: rgb(25, 139, 132);
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-copyright {
  text-align: center;
  color: white;
  margin-top: 60px;
}

.references {
  margin: auto;
  width: 100%;
}
.references h5 {
  padding: 2px;
  margin: 0px;
}
.ref-icon {
  display: inline-block;
  padding: 5px;
  width: auto;
  vertical-align: middle;
}
.ref-content {
  display: inline-block;
  padding: 5px;
  width: 84%;
  vertical-align: middle;
  color: white;
  font-size: 11px;
}
.ref-content p a {
  color: #1baca2;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  /* .references {
    width: 100%;
    text-align: center;
  }
  .ref-content {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .ref-icon {
    display: block;
    width: 100%;
    margin: auto;
  } */
}

/* popup stuff */
.popup-modal {
  display: none;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
  background-color: #fefefe;
  box-shadow: 0px 1px 38px 0px rgba(0, 0, 0, 0.13);
  overflow: auto;
  border: 1px solid #888;
  width: 80vw;
  height: 80vh;
  margin: 60px auto;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 30px 0px;
}

.popup-column {
  -ms-flex: 48%;
  flex: 48%;
  max-width: 48%;
  padding: 0 8px;
}

.popup1-column {
  -ms-flex: 33.3%;
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}

.popup1-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.popup-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.popup-text h4 {
  color: #2d3a4b;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0px;
}

.box {
  float: right;
  border: 1px solid #bb0000;
  padding: 8px;
  font-size: 15px;
  font-family: 'Montserrat';
  background: #bb0000;
  color: white;
  text-align: center;
}

.price {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  z-index: 9;
  display: inline-block;
  width: 100%;
  color: #2d3a4b;
}

.popup-para {
  font-weight: 400;
  /* padding-top:0px; */
  font-size: 14px;
  color: #6f6f6f;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  font-family: 'Playfair Display';
}

.popup-header h6 {
  font-weight: normal;
  font-size: 14px;
  color: #2d3a4b;
  margin: 0px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat';
}

.iconn {
  font-size: 15px;
  padding: 10px 0px;
  color: gray;
}

select {
  border: 1px solid #bb0000;
  width: 150px;
  height: 36px;
  display: inline-block;
  border-radius: 2px;
}

@media screen and (max-width: 900px) {
  .popup-column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      text-align: center;
  }
  .box {
      display: none;
  }
  .popup-text h4 {
      padding-top: 15px;
  }
}

@media screen and (max-width: 600px) {
  .popup-column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
}

.add-button {
  text-align: center;
  border: none;
  display: inline-block;
  color: white;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  background: #bb0000;
  font-family: 'Poppins';
  font-weight: bold;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  min-width: 180px;
  position: relative;
  z-index: 1;
  margin: 8px 10px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #bb0000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #bb0000;
  color: white;
}

.dot {
  cursor: pointer;
  width: 18%;
  height: auto;
  margin: 2px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 900px) {
  .prev, .next, .text {
      font-size: 14px
  }
  .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
      position: absolute;
      top: 50%;
  }
  .footer-open-text p {
      width: 100%;
      text-align: center;
  }
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}